@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 2em;
  width: fit-content;
}

.week {
  margin-bottom: 2em;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27em;
  margin-bottom: 0.5em;
}

.title span {
  font-size: 1.25em;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  font-weight: 500;
}

table tr > * {
  padding: 0.3em 0.6em;
  border: 0.05em solid black;
}

table tbody:first-child {
  background-color: #ddebf7;
}
table tbody.overcome td {
  background-color: #d0cece !important;
  color: #ffffff;
}
table tbody.active td {
  background-color: #6cff98 !important;
}

table th.time {
  min-width: 5em;
}
table th.subject {
  min-width: 14em;
}
table th.lecturer {
  min-width: 11em;
}

table tr.personally td:not(.day) {
  background-color: #fff5e1;
}

table td.day,
table td.time,
table td.place {
  text-align: center;
}

table .day i {
  font-size: 0.85em;
}
table td.regular  {
  font-weight: 400;
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 12px;
  }
}
